.nav-pills{
    margin-right:20px;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: '100%';
    margin: 0;
   
   
}
.nav-link{
    width: 'auto';
    height: 39px;
    margin: 7px;
    display: inline-flex;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
