.iconpd{
    margin-right: 10px;
    font-size: small;
   
}
.boxtxt{
    font-size: 15px;
    font-weight: 800;
    color: rgb(136, 129, 129);
}

.paper{
    font-size: 12px;
    font-weight: 800;
  
  
}
.first-head{
    padding-left: 25px;
    word-spacing: 2px;
    font-size: 22px;
}
.stackcolor{
    font-weight: 800;
}


/*-----collaps1----*/
.collaps{

    display: flex;
    justify-content:center;
    align-items: center;
}
/*-----Header---------*/

.main-nav{
    width: 100%;
    height:5rem;
    display: grid;
    grid-template-columns:2fr 5rem 3fr 5rem 2fr ;
}
.imgheader{
    height: 44px;
    margin: 5px;
}
.textheader{
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
}


.menu-logo ul{
   height: 5rem;
   display: flex;
   justify-content:left;
   align-items: center;
   list-style-type: none;
}
.menu-search{
   grid-column: 2/3;

}

.menu-search ul{
    height: 5rem;
    display: flex;
    justify-content:left;
    align-items: center;
    list-style-type: none;
 }
 .searchimg{
    height: 40px;
 border-radius: 0px 5px 5px 0px;
    border-style: none;
 }
.menu-icon{
    grid-column: 4/5;

}
.menu-icon ul{
height: 5rem;
display: flex;
justify-content:left;
align-items: center;
list-style-type: none;

}
.menu-icon ul li{
    border: none !important;
    padding: 15px;
}
.squareimg{

    height: 30px;
} 

.avatar-box{
    background-color: white;
    border-radius: 5px;
    border: none !important;
}
.MuiOutlinedInput-notchedOutline {
    border: none !important;
  }


/*--items----*/



@media (max-width: 1290px) {
    .collaps1{
        overflow: scroll; 
     }
     .collaps2{
        overflow: scroll; 
     }
}


@media (max-width: 1080px) {
    .main-nav{
        height: 8rem;
        grid-template-columns: 2fr 1rem 3fr ;
    }
    .menu-logo ul,
    .menu-search ul,
    .menu-icon ul{
        height: 8rem;
    }
     
     .menu-icon {
        display: none;
     }
}


@media (max-width: 818px) {
    .main-nav{
        height: 8rem;
        grid-template-columns: 9rem 2fr 1rem  ;
    }
    .menu-logo ul,
    .menu-search ul,
    .menu-icon ul{
        height: 8rem;
    }
     
     .menu-icon {
        display: none;
     }
     .menu-logo{
        display: none;
     }
}